
.body {
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.body__profile {
    border: 2px solid #ffffff;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 100px;
    z-index: 1 !important;
    
    /* margin-right: 300px; */
}
.body__profile img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 99 !important;
}

.body__lineContainer{
    width: 100%;
    display: grid;
    place-items: center;
}
.body__line1{
    background: #ffffff;
    width: 480px;
    height: 10px;
    margin-top: -425px;
    border-radius: 20px;

    
}
.body__line2{
    background: #ffffff;
    width: 325px;
    height: 10px;
    margin-top: -180px;
    border-radius: 20px;
}

.container {
    /* background-color: #fff; */
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
.name {
    /* background-color: orangered; */
    width: 50%;
    height: 300px;
    margin-bottom: 20px;
    padding-right: 500px;
    z-index: 1;

}
.name h1 {
    width: 200px;
    font-size: 100px;
    color: white;
    text-shadow: 10px 5px 5px rgb(59, 9, 59);
    font-family: 'Patua One', cursive;
    /* background-color:red; */
   
}

/* .circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: -310px;
    margin-left: 425px;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    
   
} */